KONTUR_BASE_URL=https://diadoc-api.kontur.ru
KONTUR_AUTH_BASE_URL=https://identity.testkontur.ru
KONTUR_SCOPE=openid profile email offline_access Diadoc.PublicAPI.Staging
KONTUR_REDIRECT_URI=
KONTUR_APP_NAME=KOT_test
KONTUR_API_KEY=
KONTUR_CLIENT_ID=KOT_test
KONTUR_CLIENT_SECRET=
KONTUR_LOGIN=
KONTUR_PASSWORD=

RENDER_DEPLOY_HOOK_URL=
RENDER_API_KEY=
RENDER_SERVICE_ID=
