KONTUR_BASE_URL=https://diadoc-api.kontur.ru
KONTUR_AUTH_BASE_URL=https://identity.testkontur.ru
KONTUR_SCOPE=openid profile email offline_access Diadoc.PublicAPI.Staging
KONTUR_REDIRECT_URI=
KONTUR_APP_NAME=KOT_test
KONTUR_API_KEY=
KONTUR_CLIENT_ID=KOT_test
KONTUR_CLIENT_SECRET=
KONTUR_LOGIN=
KONTUR_PASSWORD=
KONTUR_KEDO_BASE_URL=https://api.testkontur.ru/kedo
KONTUR_KEDO_API_KEY=
KONTUR_KEDO_ORG_ID=
KONTUR_KEDO_EMPLOYEE_ID=
KONTUR_KEDO_DOCUMENT_TYPE_ID=
KONTUR_KEDO_DOCUMENT_TYPE_NAME=
KONTUR_KEDO_SIGNATURE_TYPES=Pep,Nep
KONTUR_KEDO_LOGIN=
KONTUR_KEDO_PASSWORD=
KONTUR_KEDO_TEST_FILENAME=test-kedo.txt
KONTUR_KEDO_TEST_TEXT=

RENDER_DEPLOY_HOOK_URL=
RENDER_API_KEY=
RENDER_SERVICE_ID=
